@import "src/assets/scss/common";

.shift-requirment-list {
	.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
		padding: 2px !important;
	}
	.MuiPaper-elevation1 {
		box-shadow: none !important;
	}
	.filter-icon {
		font-size: 2rem;
		color: $light-black;
	}
	.cancelled {
		color: #f10000 !important;
	}
	.shift-requirement-list-table {
		.mat-td-facility-name {
			min-width: 250px;
			max-width: 250px;
		}

		.mat-td-title {
			min-width: 250px;
			max-width: 250px;
		}

		.mat-td-shift-date {
			min-width: 120px;
			max-width: 120px;
		}

    .mat-td-hcp-count{
      min-width: 80px;
			max-width: 80px;
    }

    .mat-td-shift-timings{
      min-width: 150px;
			max-width: 150px;
    }

    .mat-td-status{
      min-width: 100px;
			max-width: 100px;
    }
    .mat-td-shift-type{
      min-width: 80px;
			max-width: 80px;
    }

		.mat-td-hcp-type {
			min-width: 100px;
			max-width: 100px;
		}

		.mat-td-actions {
			min-width: 120px;
			max-width: 120px;
		}
	}
}
