.cancelled-shifts {
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 2px !important;
  }
  .shifts-cancelled-list-table {
		.mat-td-title {
			min-width: 250px;
			max-width: 250px;
		}
    .mat-td-shift-date{
      min-width: 120px;
			max-width: 120px;
    }
    
		.mat-td-facility-name {
			min-width: 250px;
			max-width: 250px;
		}

		.mat-td-hcp-name {
			min-width: 250px;
			max-width: 250px;
		}
    .mat-td-hcp-type {
			min-width: 100px;
			max-width: 100px;
		}
    .mat-td-shift-type {
			min-width: 80px;
			max-width: 80px;
		}
		.mat-td-differential {
			min-width: 150px;
			max-width: 150px;
		}
		.mat-td-actions {
			min-width: 120px;
			max-width: 120px;
		}
	}
}
